<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 别名 -->
	<typeAliases>
		<package name="com.wfb.user.model"/>
		<package name="com.wfb.common.model"/>
		<package name="com.wfb.dot.model"/>
		<package name="com.wfb.appoint.model"/>
		<package name="com.jrzmq.webapp.common"/>
	</typeAliases>
	
	<plugins>
	   <plugin interceptor="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
            <property name="dialectClass" value="com.jrzmq.core.db.MySQLDialect"/>
        </plugin>
	</plugins>
</configuration>