<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfb.appoint.persistence.AppointDetailMapper">
	<select id="searchAppointDetail" resultType="AppointDetailModel">
		select id,dot_name from t_appoint_detail
		where 1=1
		<if test="idCard != null">
			and id_card = #{idCard} 
		</if>   
	</select>
</mapper>